.Enlist_form{
    max-width: 610px;
    width: 100%;
    margin: 0px auto;
}

.form_group_Enlistment {
    width: 100% !important;
}
.Enlistment_form_box_wrapper
{
  align-items: flex-end;    
}

.Enlisment_group_label_button{
    width: 150px;
    text-align: center;
}

.table_inpun_enlist input{
    max-width: 300px;

}

.hrbasic_table_img{
    height: 50px;
    width: 50px;
}
.hrbasic_table_img img{
    width: 100%;
    display: block;
    object-fit: cover;
}

.stuttu_table_btnHr{
    background-color: grey;
}

.exelform_body_border_wrapper_left_defer{
    width: 100%;
}

.exelform_body_border_wrapper_right_defer{
    width: 100%;
}

.form_group_label_button_plus{
    text-align: center;
}

.incroment_form_box_wrapper_plus{
    align-items: flex-end !important;
}

.profile_form_plus{
    margin-left: auto !important;
    margin-bottom: 150px !important;
   
}

.group_massage_wrapper_application {
    min-height: 300px;
    border-radius: 3px;
    position: relative;
    background-color: #f5ffff;
    border: 1px solid #a5fcff;
    padding: 30px 20px!important;
    display: inline-block;
    max-width: 364px;
    width: 100%;
    margin-left: 20px;
}

.group_massage_wrapper_application_title{
    text-align: left;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #6bebda;
    color: #19bfa8;
}

.group_massage_wrapper_application_table {
    margin-top: 30px;
}

.group_massage_wrapper_application_table li {
    display: flex;
    align-items: center;
}
.group_massage_wrapper_application_table li:not(:last-child){
    margin-bottom: 20px;
}
.group_massage_wrapper_application_table li span{
    color: #4c948a;
    font-size: 13px;
}

span.group_massage_list_leave {
    max-width: 126px;
    width: 100%;
    display: block;
}

.stuttu_table_btn_att{
    background-color: #AF248A !important;
}

.hide_form_group_month {
    height: 300px;
    overflow-y: scroll;
}

.incrolment_table_header_blank{
    overflow-x: scroll;
}
.incrolment_table_header_blank::-webkit-scrollbar{
  
}

.form_group_hrtime{
    width: 100% !important;
}

.Attendance_Preview_hr{
    margin-bottom: 30px;
}

.Attendance_Preview_hr_wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.Attendance_Preview_hr_item{
    border: 1px solid #ffbc78;
    border-radius: 7px;
}

.Attendance_Preview_hr_item_title{
    border-radius: 7px 7px 0 0;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: rgba(0,0,0,.6);
    font-weight: 600;
    position: relative;
    background-color: #ffbc78;
}

.Attendance_Preview_hr_item_body{
    text-align: center;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Attendance_Preview_hr_item2{
    border: 1px solid #5ecc7b;
}
.Attendance_Preview_hr_item3{
    border: 1px solid #69bed9;
}
.Attendance_Preview_hr_item4{
    border: 1px solid #ff9b9b;
}
.Attendance_Preview_hr_item5{
    border: 1px solid #76ecec;
}

.Attendance_Preview_hr_item5 .Attendance_Preview_hr_item_title{
    background-color: #76ecec !important;
}
.Attendance_Preview_hr_item4 .Attendance_Preview_hr_item_title{
    background-color: #ff9b9b !important;
}
.Attendance_Preview_hr_item3 .Attendance_Preview_hr_item_title{
    background-color: #69bed9 !important;
}
.Attendance_Preview_hr_item2 .Attendance_Preview_hr_item_title{
    background-color: #5ecc7b !important;
}

.Attendance_Preview_hr_present{}

.Attendance_Preview_hr_present_wrap{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
}

.Attendance_Preview_hr_present_item{
    position: relative;
}

.Attendance_Preview_hr_present_item::after {
    content: "";
    position: absolute;
    width: 2px;
    left: 0px;
    top: 44px;
    border-left: 1px dashed #dfd0ff;
    height: 450px;
}

.Attendance_Preview_hr_present_item::before{
    content: "";
    position: absolute;
    width: 2px;
    right: 0px;
    top: 44px;
    border-left: 1px dashed #dfd0ff;
    height: 450px;
}

.Attendance_Preview_hr_present_item_header{
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    margin: 5px 0;
    padding: 5px 0;
    background-color: #5ecc7b;
    text-align: center;
}

.Attendance_Preview_hr_present_item_body{
   height: 450px;
}

.Attendance_Preview_hr_present_item_header2{
    background-color: #69bed9 !important;
}
.Attendance_Preview_hr_present_item_header3{
    background-color: #ff9b9b !important;
}


.form_group_reportrecord{
    width: 70% !important;
}

.hide_form_group_search_month{
    height: 250px;
    overflow-y: scroll;
}

.configPage_veiw_button{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.maskconfig_wrapper_left{
    width: 100%;
}
.maskconfig_form_box{
    border: unset;
    padding: unset;
}

.maskconfig_form_box .incrolment_table{
    margin-top: unset;
}

.table_input_config span{
    background-color: red;
}
.table_input_config span:hover{
    background-color: red;
}

.SEmark_form_config_box{
    max-width: 610px;
    width: 100%;
    margin: 0px auto;
}

.table_input_marksheetConfig span{
    background-color: #283593 !important;
}

.profile_table_thInputSEdate {
    max-width: 515px;
    width: 100% !important;
}

.Seremarks_group_subbox{
    width: 100%;
    margin-top: unset;
}

.se_table_wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 25px;
}

.se_table_wrapper_left{
    width: 100%;
}

.se_table_wrapper_right{
    width: 100%;
}

.se_table_wrapper_right_title{
    margin-top: 30px;
}

.se_table_wrapper_right_garade_list {
    margin-top: 50px;
}
.se_table_wrapper_right_garade_list ul{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.se_table_wrapper_right_garade_list ul li{}
.se_table_wrapper_right_garade_list ul li span{
    font-size: 13px;
    color: black;
}