.merit_form_box
{
    max-width: 610px;
    width: 100%;
    margin: 0px auto;
}

.Withoutmerit_form_box{
    max-width: 400px;
    width: 100%;
    margin: 0px auto;
}

.profile_form_wrapper_push{
    max-width: 810px;
    width: 100%;
    margin: 0px auto;
}

.form_group_label_button_push {
    width: 126px;
}

.push_table_thInput_Name {
    max-width: 570px;
}

.profile_table_result {
    background-color: #8A8DFF;
    height: 56px;
}
.profile_table_result td{
    color: #fff;
}